PORT=10000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/bappaverse?retryWrites=true&w=majority
FRONTEND_URL=http://localhost:3000
AUTH_SECRET=bappaverse_super_secret_jwt_key_2024_secure_key_min_32_chars
NODE_ENV=development
ADMIN_EMAIL=admin@bappaverse.com
ADMIN_PASSWORD=BappaVerse2024!
